/* box-sizing better approach */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}


html, body {
    width  : 100%;
    height : 100%;
    margin : 0;
    padding: 0;
}



/* --------------------------------------------------
 * Header section
 * -------------------------------------------------- */

header {
    position: absolute;
    top: 30px;

    /* center element without a fixed width */
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    padding: 5px 10px;

    background-color: rgba( 219, 219, 219, .5 );
    overflow: hidden;
    text-align: center;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
}

header * {
    margin: 0;
}

header :last-child {
    padding-top: 5px;
}



/* --------------------------------------------------
 * Playground section
 * -------------------------------------------------- */

 .playground {
    height: 100%;
}

.playground canvas {
    visibility: hidden;
}

.playground canvas.ready {
    visibility: visible;
}